# Reading Data from a File

In [1]:
import numpy

data = numpy.loadtxt('data.txt')

print(data)

7.0

## Loading two data values into two variables

In [ ]:
import numpy as np

num1, num2 = numpy.loadtxt('data1.csv', delimiter=',')

print(num1, num2)

7.0 11.0

## Loading one long row of data into a list

In [3]:
import numpy as np

data = np.loadtxt('data2.csv', delimiter=',')

print(data)

[ 685.    0.    0.    0.    0.    0.    0.    0.    0.  964.  934.   21.
  623. 1085.  989. 1113.  599.  667.  869. 1192.   86.  402. 1040. 1065.
  953.  903.    0.    0.    0.    0.    0.    0.  631. 1178.  410.  447.
 1013.  952.  482.   67.   62. 1164.  977. 1127.  970.   22.  403.  665.
  762.    0.    0.    0.    0.    0.    0.    0.    0.  649. 1029. 1133.
 1000.  802.  946.  675.  768.  743.  786.   41.  856.  868.  209. 1097.
  469.  217.    0.    0.    0.    0.    0.    0.    0.  495.  241.  941.
  495.  583.  380.   84.  421.  431.  502.   62.  345.  923.  492.  856.
  926. 1150.    0.    0.    0.    0.    0.    0.    0.    0. 1146.  742.
  986.  300.  489. 1056.   95. 1083.  905.  749.   77.  213.  270.  278.
    0.    0.    0.    0.    0.    0.    0.    0.  340.  960.  631.  795.
 1055.  585.  981.  423.   35.   92. 1003.   40.  490. 1092.  579.  698.
    0.    0.    0.    0.    0.    0. 1072.  326.  491.  768.   39.  442.
  466. 1077.  735.  377.  258.  370. 1191.   81.   93.  440.  488. 1184.]

## Loading a row of data with mixed data types

In [6]:
import numpy as np

data = np.loadtxt('data3.csv', delimiter=',', dtype='str')

print(data)

['Juliana' '685' '0' '0' '0' '0' '0' '0' '0' '0' '964' '934' '21' '623'
 '1085' '989' '1113' '599' '667' '869' '1192' '86' '402' '1040' '1065'
 '953' '903' '0' '0' '0' '0' '0' '0' '631' '1178' '410' '447' '1013' '952'
 '482' '67' '62' '1164' '977' '1127' '970' '22' '403' '665' '762' '0' '0'
 '0' '0' '0' '0' '0' '0' '649' '1029' '1133' '1000' '802' '946' '675'
 '768' '743' '786' '41' '856' '868' '209' '1097' '469' '217' '0' '0' '0'
 '0' '0' '0' '0' '495' '241' '941' '495' '583' '380' '84' '421' '431'
 '502' '62' '345' '923' '492' '856' '926' '1150' '0' '0' '0' '0' '0' '0'
 '0' '0' '1146' '742' '986' '300' '489' '1056' '95' '1083' '905' '749'
 '77' '213' '270' '278' '0' '0' '0' '0' '0' '0' '0' '0' '340' '960' '631'
 '795' '1055' '585' '981' '423' '35' '92' '1003' '40' '490' '1092' '579'
 '698' '0' '0' '0' '0' '0' '0' '1072' '326' '491' '768' '39' '442' '466'
 '1077' '735' '377' '258' '370' '1191' '81' '93' '440' '488' '1184']

To make calculations with the data, we need the step counts to be in `int` or `float` data type. After splitting the list that we've loaded into a username and counts list, can you figure out a way to convert the list of strings into a list of integers?

In [8]:
import numpy as np

data = np.loadtxt('data3.csv', delimiter=',', dtype='str')

name = data[0]
steps = data[1:].astype('int')

print(type(steps[0]))

<class 'numpy.int64'>